* {
    padding: 0;
    list-style: none;
    margin: 0;
}

.container {
    background-image: url(https://b.zmtcdn.com/web_assets/81f3ff974d82520780078ba1cfbd453a1583259680.png);
    width: 100%;
    height: 62vh;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    background-size: cover;
    top: 0vh;
    margin-bottom: 1rem;
}

.navbar {
    display: flex;
    justify-content: space-around;
    gap: 200px;
    padding: 25px;
    font-size: 20px;
    font-family: sans-serif;
    cursor: pointer;
}

.top {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.right {
    position: relative;
    gap: 50px;
}

.mid-con {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.heading {
    font-size: 55px;
    color: white;
    padding-top: 45px;
    font-weight:bolder; 
    letter-spacing: 5px;
}

.mid-con p {
    font-size: 25px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 35px;
}
.location{
    display: flex;
}
.location .address{
    position:relative;
    z-index:2;
}
.location img{
    position: relative;
    z-index: 2;
    padding-left: 5px;
    left: 50px;
    top: 13px;
}
.location input{
    position: relative;
    width: 44vw;
    align-content: center;
    overflow: hidden;
    left: -2vw;
    z-index:1;
    height: 8vh;
    border-radius:10px ;
}
input::placeholder{
    font-size: 15px;
    position: relative;
    left: 50px;
    font-weight: bold;
    text-align: center;
}
.second-page{
    display: flex;
    justify-content: center;
    width: 100%;
    height: inherit;
    padding-bottom: 25px;
}
.pictures{
    display:flex;
    height: 18rem;
    padding-bottom: 6rem;
}
.pictures img{
    width:25rem;
    height:18rem;
    box-sizing: border-box;
    border-radius: 45px;
    padding: 25px;
}
.img1{
    display: flex;
    flex-flow: column;
    align-items: flex-start;
}
.text{
    padding: 0rem 2rem 1.6rem;
    width: 71.5%;
    position: relative;
    left: 25px;
    background-color: rgba(227, 226, 223, 0.999);
    bottom: 103px;
}
.imt p{
    position: relative;
    /* font-size: 20px; */
    bottom: -10px;
}
.text1{
    /* font-weight: bold; */
    font-size: 30px;
}
.imt a{
    text-decoration: none;
    color:black;
}
.imt:hover{
    animation: animation .4s  cubic-bezier(0.24, 0.12, 1, 0.72);
}
@keyframes animation{
    from{
        transform: translateZ(0px)
    }
    to{
        transform:translateZ(30px);
        scale: 1.1;
    }
}
.con{
    display: flex;
    flex-flow: column;
    align-items: center;
    position: relative;
    bottom:10vh;
    left: -480px;
    margin-bottom: 25px;
}
.con h2{
    margin-bottom: 10px;
    font-size: 35px;
    font-family: sans-serif;
    position: relative;
    /* left: -480px; */
}
.con-between{
    display: flex;
    gap: 11vw;
    position: relative;
    left: 475px;
    font-size:20px;
}
.con-between a{
    text-decoration: none;
    color: rgb(228, 109, 88);
}
.conimg{
    width:100%;
    height: 40vh;
    display: flex;
    justify-content:flex-start;
    gap: 25px;
    margin-bottom:25px;
}
.conimg div{
    position: relative;
    left: 12vw;
}
.conimg img {
    position: relative;
    width:20vw;
    height: 50vh;
   border-radius: 10px ;
}
.im-text p{
    position: relative;
    font-size: 20px;
    left: -22vh;
    top: -8vh;
}
.conimg a{
    text-decoration: none;
    color: white;
}
.grid-con{
    display: flex;
    justify-content: center;
}
.grid{
    display: grid;
    grid-template-columns:100px 100px 100px;
    column-gap: 250px;
}
.grid-con{
    /* background-color: blue; */
    padding: 25px;
    width: 250px;
    margin: 25px;
}